<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container-fluid ms-5">
    <a class="navbar-brand" href="index.html">
      <img src="Assets/Logo.png" alt="+Paths" width="114.46" height="24" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav p-4" style="line-height: 24px; font-size: 14px">
        <li class="nav-item">
          <a class="nav-link active" style="font-weight: 700" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-weight: 700" aria-current="page" href="#como-usarlo"> Cómo usarlo </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-weight: 700" aria-current="page" href="login.html">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-weight: 700" aria-current="page" href="login.html">Precio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-weight: 700" aria-current="page" href="login.html">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto p-4" style="line-height: 24px; font-size: 14px">
        <li class="nav-item">
          <div id="sessionArea" class="d-flex"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
